@import 'variables';

.divlayout {
  width: 300px;
  margin-bottom: 5px;
  padding: 10px 10px;
  border: 1px solid $second;
  border-radius: 10px;
  color: $main;
}

.parent-block {
  position: relative;
}

@media screen and (max-width: 596px) and (min-width: 320px) {
  .divlayout {
    width: 76%;
    margin-bottom: 5px;
    padding: 10px 10px;
    border: 1px solid $second;
    border-radius: 10px;
    color: $main;
    
  }
  .divlayout span{
    padding: 0 !important;
  }

}