<ptg-ui-loading [loading]="loading"></ptg-ui-loading>
<div class="content-wrapper">
    <div class="title">
        <h4 class="main-heading text-center mb-4">Reset Password</h4>
    </div>

    <!-- reset password section starts -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="form-group">
                            <ptg-ui-alert
                              *ngIf="errorMessage"
                              [type]="'danger'"
                              [message]="errorMessage"
                              [isDismissible]="true"
                              (closeAlert)="closeAlert($event)"
                            >
                            </ptg-ui-alert>
                          </div>
                        <div class="login-form">
                            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                                <div class="form-group mb-4">
                                    <label for="inputPassword" [innerHTML]="resources?.Current_PASSWORD_TEXT"></label>
                                    <div class="userid input-group flex-nowrap">
                                        <div class="input-group-prepend">
                                            <i class="login-password-icon"></i>
                                        </div>
                                        <!-- input -->
                                        <ptg-ui-input class="w-100" type="password"
                                            formControlName="currentPassword" className="form-control bg_0"
                                            [placeholder]="resources?.Current_PASSWORD_PLACEHOLDER">
                                        </ptg-ui-input>
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="inputPassword" [innerHTML]="resources?.NEW_PASSWORD_TEXT"></label>
                                    <div class="userid input-group flex-nowrap">
                                        <div class="input-group-prepend">
                                            <i class="login-password-icon"></i>
                                        </div>
                                        <!-- input -->
                                        <ptg-ui-input class="w-100" type="password"
                                            formControlName="newPassword" className="form-control bg_0"
                                            [placeholder]="resources?.NEW_PASSWORD_PLACEHOLDER">
                                        </ptg-ui-input>
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="inputPassword" [innerHTML]="resources?.CONFIRM_PASSWORD_LABEL"></label>
                                    <div class="userid input-group flex-nowrap">
                                        <div class="input-group-prepend">
                                            <i class="login-password-icon"></i>
                                        </div>
                                        <!-- input -->
                                        <ptg-ui-input class="w-100" type="password"
                                            formControlName="confirmPassword" className="form-control bg_0"
                                            [placeholder]="resources?.CONFIRM_PASSWORD_PLACEHOLDERE">
                                        </ptg-ui-input>
                                    </div>
                                </div>
                                <!-- button -->
                                <ptg-ui-button class="w-100" type="submit" btnStyleType="primary" id="btnSignin"
                                    [isBlock]="true" [isDisable]="!resetPasswordForm.valid">
                                    Change Password
                                </ptg-ui-button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>