@import '../../../libs/ptg-ui-web-components/src/global/global.css';

// @import '../../styles/variables';
@import "../../ptg-react-animations/src/styles/variables";

.MuiStepIcon-completed,
.MuiStepIcon-active {
  color: $main !important;
}

.MuiStepIcon-root.Mui-error {
  color: $error !important;
}

/* You can add global styles to this file, and also import other style files */
@import '../../../apps/pool-tracker/src/app/styles/variables';

body {
  margin: 0;
  font-family: $font-family-sans-serif !important;
  padding-bottom: 0;
}

header+div {
  min-height: calc(100vh - 146px);
}

.viewMastertable {
  position: relative;
}

.table-title {
  position: absolute;
  top: 22px;
  z-index: 1;
  left: 14px;
  font-size: 20px;
  font-weight: normal;
  color: #000;
}

.addModalBtn {
  position: absolute !important;
  right: 15px;
  left: auto !important;
  top: 15px !important;
  z-index: 9;
  font-size: 14px;
  cursor: pointer;
}

.addModalBtn .hydrated {
  background: transparent !important;
  color: #000 !important;
}

.MuiTablePagination-displayedRows {
  margin: 0;
}

.modal-wrapper .modal {
  top: 50% !important;
}