/**
 * @since March 2022
 * @author Aakash Patidar
 * @SCSS Custom SCSS;
 * @description this SCSS used for overide and extend bootstrap classes
 */
.treeview-container{
  max-height: 100% !important;
  height: 100%;
  .treeview-item{
    i{
        display: none;
    }
  }
  .form-check{
    input{
      cursor: pointer;
    }
  }
}
