/**
 * @since March 2022
 * @author Aakash Patidar
 * @SCSS Datatable SCSS;
 * @description This SCSS used for datatables custmization
 */

.ngx-datatable {
    .datatable-footer{
        .datatable-footer-inner{
            justify-content: space-between;
            padding-right: 10px;
        }
    }
}

.ngx-datatable.material.single-selection .datatable-body-row.active, 
.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group, 
.ngx-datatable.material.multi-selection .datatable-body-row.active,
 .ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group, 
 .ngx-datatable.material.multi-click-selection .datatable-body-row.active, 
 .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group{
    background-color: $main;
    .datatable-body-cell-label{
        color:$white;
    }
}

@media(max-width:767px){
    .ngx-datatable .datatable-footer .datatable-footer-inner{
        display: block !important;
    }
}
.page-link{
    cursor: pointer;
}

.full-width-table {
    width: 100%;
}

tr.mat-row{
    cursor: pointer;
}

.datatable-checkbox input[type=checkbox]:checked{
    &:before{
        border-color:$primary;
        width:0.7rem;
        left: 3px;
        top: 4px;
        height: 0.4rem;
        border-width: 1.5px;
    }
    &:after{
        border: 1.5px solid $primary;
        width:1.2rem;
        height:1.2rem;
        border-radius: 0.2rem;
    }
}
// Material datatable 
.mat-datatable{
    th.mat-header-cell:first-of-type, td.mat-cell:first-of-type{
        padding-left: 10;
    }
    th.mat-header-cell, td.mat-cell{
        vertical-align: middle;
        padding: 0 10px;
    }
    @media(max-width:767px){
        .mat-paginator-container{
            align-items: center;
            justify-content:center;
        }   
    }
}

// Ag-grid css 
@media(max-width:767px){
    .ag-paging-panel{
        display: block !important;
        height: auto !important;
        padding: 5px;
        text-align: center;
        .ag-paging-row-summary-panel{
            margin-bottom: 10px;
            display: block;
        }
        .ag-paging-page-summary-panel{
            justify-content: center;
            margin-bottom: 10px;
        }
    }
}