@import '../../styles/variables';

.signup-wrapper {
  //   width: 100%;
  //   height: 100%;
  //   // background: $main;
  //   overflow: hidden;
  .signup-container {
    width: 100%;
    .signup-form-wrapper {
      background: white;
      padding: 3% 5%;
      width: 100%;
      // max-width: 700px;
      // -webkit-box-shadow: 5px 4px 7px -1px rgba(69,69,69,1);
      // -moz-box-shadow: 5px 4px 7px -1px rgba(69,69,69,1);
      // box-shadow: 5px 4px 7px -1px rgba(69,69,69,1);
      .access-wrapper {
        li {
          margin: 3% 0;
        }
      }
    }
  }
}
@media (max-width: 599.98px) {
  .login-form {
    width: 100% !important;
  }
}
// .legend-tag {
//   float: none;
//   margin-bottom: 0.5rem;
//   font-size: 1rem;
//   line-height: inherit;
//   color: #9f9f9f;
// }
.gender-align {
  font-size: 1rem;
  color: $second;
  display: inline-block;
}
