@import '../../styles/variables';

.signup-wrapper {
  //   width: 100%;
  //   height: 100%;
  //   // background: $main;
  //   overflow: hidden;
  .signup-container {
    width: 100%;
    .signup-form-wrapper {
      background: white;
      padding: 3% 5%;
      width: 100%;
      // max-width: 700px;
      // -webkit-box-shadow: 5px 4px 7px -1px rgba(69,69,69,1);
      // -moz-box-shadow: 5px 4px 7px -1px rgba(69,69,69,1);
      // box-shadow: 5px 4px 7px -1px rgba(69,69,69,1);
      .access-wrapper {
        li {
          margin: 3% 0;
        }
      }
    }
  }
}

.date-picker{

.MuiOutlinedInput-root {
  height : 32px;
  // width: 13rem;
  margin-top: 1px;
}
}

.achieved-heading{
  margin-left: 6.3rem;
}
li{
  width: 90%;
}

@media (max-width: 599.98px) {
  .login-form {
    width: 100% !important;
  }
}
// .legend-tag {
//   float: none;
//   margin-bottom: 0.5rem;
//   font-size: 1rem;
//   line-height: inherit;
//   color: #9f9f9f;
// }
.gender-align {
  font-size: 1rem;
  color: $second;
  display: inline-block;
}
.date-picker{
  .MuiButtonBase-root{
    margin-top: -4px;
    margin-right: -15px !important;
  } 
  .MuiInputBase-input{
    margin-top: -4px;
  }
  // MuiIconButton-root
}
  

@media (min-width : 300px) and (max-width: 400px){
  .web-accessibitlity-heading{
    font-size: 18px;
 }
  .web-field{
      width : 60% !important;
      margin-left: 16%;
  }
  .field{
    width : 60%;
    margin-left: 16%;
 }
 .gender-align{
      width : 60% !important;
    margin-left: 16%; 
 }
 .gender-list{
   width : 50% !important;
    margin-left: 16%; 
 }
  label{
    font-size: 14px;
  }
  ::placeholder{
    font-size: 14px;
  }
  .declaration-check{
    width: 95%;
  }
  .achieved-heading{
    margin-left: 1rem;
    font-size: 14px;
    width: 90%;
  }
  h6{
    font-size: 14px;
  }
  ol{
    width : 95%;
  }
  .gender-list{
    font-size: 10px;
  }
  li{
    font-size: 12px;
    width : 90%;
    margin-left: -1.3rem;
 }
}


@media (min-width : 400px) and (max-width: 600px){
  .web-accessibitlity-heading{
    font-size: 18px;
 }
  .web-field{
      width : 87% !important;
      margin-left: 7%;
  }
  .field{
     width : 87%;
     margin-left: 7%;
  }
  .gender-align{
       width : 87% !important;
     margin-left: 7%; 
  }
  .gender-list{
    width : 87% !important;
     margin-left: 7%; 
  }
  li{
    font-size: 12px;
    width : 90%;
    margin-left: -1.3rem;
 }
 .achieved-heading{
  margin-left: 1rem;
  font-size: 14px;
  width: 90%;
}
}

@media (min-width : 800px) and (max-width: 1000px){

  .achieved-heading{
    margin-left: 3rem;
    width: 90%;
  }
}

@media (min-width : 1000px) and (max-width: 1400px){

  .achieved-heading{
    margin-left: 6rem;
    width: 90%;
  }
}

@media (min-width : 650px) and (max-width: 800px){
  .web-accessibitlity-heading{
     font-size: 20px;
  }
  .achieved-heading{
    margin-left: 2rem;
    width: 90%;
  }
}