@import 'variables';

.login-wrapper {
  width: 100vw;
  height: 100vh;
  background: #eef2f6;
  overflow: hidden;

  .login-form-wrapper {
    background: #eef2f6;
    padding: 8% 10%;
    width: 35vw;
    border-radius: 5px;
    .login-logo {
      img {
        width: 80%;
      }
    }
    .signup-btn,
    .forgot-password {
      font-size: 0.94rem;
      color: $main;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    .input-group {
      ::ng-deep {
        input {
          border-radius: 2px !important;
          padding-left: 40px !important;
        }
      }
    }

    .input-group-prepend {
      display: flex;
      position: absolute;
      z-index: 100;
      top: 50%;
      left: 10px;
      transform: translatey(-50%);
    }

    .login-user-icon,
    .login-password-icon {
      background: url('./../../../assets/user_icn.png');
      width: 17px;
      height: 23px;
      display: block;
      background-size: 100% !important;
      background-position: center center !important;
      background-repeat: no-repeat !important;
    }

    .login-password-icon {
      background: url('./../../../assets/password_icn.png');
    }
  }
}

@media (max-width: 599.98px) {
  .login-wrapper {
    .login-form-wrapper {
      width: 90vw;
    }
  }
}

@media (min-width: 600px) and (max-width: 959.98px) {
  .login-wrapper {
    .login-form-wrapper {
      width: 60vw;
      .login-logo {
        img {
          width: 70%;
        }
      }
    }
  }
}

