
/* a .dropdown{
position: absolute;
right: 0;
margin: 20px;
transition: 0.3s ease;
} */


/* .heading{

} */
/* .dropdown-arrow1{
    margin-left: 20px;
}
.dropdown-arrow2{
    margin-left: 58px;
}

.sub-menu{

  padding-left: 20px;  

}
.content{
   display: flex;
   justify-content: center;
   align-items: center; 
}
.icon{
    margin-right: 7px;
    margin-top: 2px;
}
mat-divider{
    margin: 10px;
    background-color: rgba(255,255,255,0.5);
}
.footer{
    position: absolute; top: 0; left: 0;
    z-index: 2;
   margin-top: 130px;
   margin-left: 373px;

}
.map{
 
    z-index: 1;
    position: absolute; top: 0; left: 0;
} */