@import 'variables';

.signup-wrapper {
  width: 100vw;
  height: 100vh;
  background: #eef2f6;
  .signup-form-wrapper {
    background: EEF2F6;
    border-radius: 5px;
    padding: 4% 10%;
    width: 40vw;
    max-width: 500px;
  }
}

@media (max-width: 599.98px) {
  .signup-form-wrapper {
    width: 90vw !important;
    margin: 15px;
  }

  .signup-wrapper {
    height: auto !important;
  }
}

@media (min-width: 600px) and (max-width: 959.98px) {
  .signup-form-wrapper {
    width: 70vw !important;
    margin: 15px;
  }

  .signup-wrapper {
    height: auto !important;
  }
}

.legend-tag {
  float: none;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: inherit;
}
