@import "variables";

.signup-wrapper{
  width: 100vw;
  height: 100vh;
  background: $main;
  overflow: hidden;
  .signup-form-wrapper{
    background: white;
        padding: 4% 10%;
        width: 40vw;
        max-width: 500px;
  }
}

@media (max-width: 599.98px){
  .signup-wrapper {
    .signup-form-wrapper {
      width: 90vw;
    }
  }
}

@media (min-width: 600px) and (max-width: 959.98px){
  .signup-wrapper {
    .signup-form-wrapper {
      width: 60vw;
    }
  }
}

// @media (min-width: 769px) and (max-width: 992px) {
//   .signup-wrapper {
//     .signup-form-wrapper {
//       width: 55vw;
//     }
//   }
// }

// @media (min-width: 361px) and (max-width: 768px) {
//   .signup-wrapper {
//     .signup-form-wrapper {
//       width: 70vw;
//     }
//   }
// }

// @media (max-width: 360px) {
//   .signup-wrapper {
//     .signup-form-wrapper {
//       width: 90vw;
//     }
//   }
// }
.legend-tag {
  float: none;
  margin-bottom: 0.5rem;
  font-size: 1.0rem;
  line-height: inherit;
}
