<div>
  <!-- add text button -->
  <button
    class="right-sidebar-btn btn"
    btnStyleType=""
    id="textBtn"
    (click)="openAddTextModal(addText)"
    ><fa-icon [icon]="faFilePen"></fa-icon>&nbsp;Add Text
    <!-- {{ inputValue ? 'Change text' : 'Add text' }} -->
  </button>

  <div *ngIf="inputValue" [hidden]="true">
    <div class="d-flex justify-content-center mt-2">
      <h6 class="m-0">Text</h6>
    </div>
    <div class="text-data">
      <div class="input-text" id="inputText">{{ inputValue }}</div>
    </div>
  </div>
</div>
<!-- add text modal -->
<ng-template #addText class="">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Text</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="clearAddedText()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div>
    <div class="modal-body justify-content-center">
      <div class="w-100">
        <textarea class="w-100" type="text" id="addText" [(ngModel)]="inputText" placeholder="add text"></textarea>
      </div>
      <div class="mt-2 d-flex justify-content-center">
        <ul class="list-group list-group-horizontal">
          <li class="list-unstyled color-wrapper mx-1">
            <fa-icon class="color-palette" [icon]="faPalette"></fa-icon>
            <input class="select-color" id="selectColor" type="color" #color (change)="getColor(color)" />
          </li>
          <li class="list-unstyled mx-1">
            <a (click)="changeToItalic()">
              <fa-icon class="mx-1" [icon]="faItalic"></fa-icon>
            </a>
          </li>
          <li class="list-unstyled mx-1">
            <a (click)="changeToBold()">
              <fa-icon class="mx-1" [icon]="faBold"></fa-icon>
            </a>
          </li>
          <li class="list-unstyled mx-1">
            <select class="mx-1" id="fontSizeDD" placeholder="Size" (change)="changeFontSize()">
              <option value="12">12</option>
              <option value="14">14</option>
              <option value="16">16</option>
              <option value="18">18</option>
              <option value="20">20</option>
              <option value="22">22</option>
              <option value="24">24</option>
              <option value="26">26</option>
            </select>
          </li>
        </ul>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <!-- clear button -->
      <ptg-ui-button class="clearText" btnStyleType="primary" id="clear" [isBlock]="false" (click)="clearAddedText()">
        Cancel
      </ptg-ui-button>
      <!-- save button -->
      <ptg-ui-button class="saveText" btnStyleType="primary" id="save" [isBlock]="false" (click)="saveAddedText()">
        Save
      </ptg-ui-button>
    </div>
  </div>
</ng-template>
<ng-template #signaturePlacedModal class="">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Place to</h4>
  </div>
</ng-template>