<header> 
    <!--Sidebar -->
    <!-- <div class="header"><div class="header-logo"></div></div> -->

    <nav
         id="sidebarMenu"
         class="collapse d-lg-block sidebar collapse bg-white "
         >
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 navbar">
          <a routerLink="button" routerLinkActive="active" class="vertical-menu">Buttons </a>
          <a routerLink="model" routerLinkActive="active" class="vertical-menu">Modal </a>
          <a routerLink="accordian" routerLinkActive="active" class="vertical-menu">Accordion</a>
          <a routerLink="alert" routerLinkActive="active" class="vertical-menu">Alert</a>
          <a routerLink="toast" routerLinkActive="active" class="vertical-menu">Toast</a>
          <a routerLink="calender" routerLinkActive="active" class="vertical-menu">Calender</a>
          <a routerLink="checkbox" routerLinkActive="active" class="vertical-menu">Checkbox</a>
          <a routerLink="table" routerLinkActive="active" class="vertical-menu">Table</a>
          <a routerLink="inter-check" routerLinkActive="active" class="vertical-menu">Intermediate Checkbox </a>
          <a routerLink="input" routerLinkActive="active" class="vertical-menu">Input</a>
          <a routerLink="loading" routerLinkActive="active" class="vertical-menu">Loading</a>
          <a routerLink="select" routerLinkActive="active" class="vertical-menu">Select/Multiselect</a>
          <a routerLink="radio" routerLinkActive="active" class="vertical-menu">Radio</a>
          <a routerLink="textarea" routerLinkActive="active" class="vertical-menu">Textarea</a>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
   
  </header>
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 70px">
    <div class="container pt-4">
  
    </div>

  </main>
  
  
  
  