// =============add master data component css==============
.ptg-table-addData {
  width: 50%;
  margin: 70px auto;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  & > input,
  label,
  button,
  textarea,
  select {
    width: 100%;
    font-size: 14px;
    padding: 10px;
    margin: 0 auto;
    font-weight: 600;
  }
  & > h3 {
    text-align: center;
  }
}
.optionListContainer {
  background: #fff;
  border-radius: 4px;
  margin-top: 1px;
  position: absolute !important;
  margin: 0 auto !important;
}
.addMasterData {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  & > div {
    width: 100%;
    margin: 20px;
    & > input,
    button {
      width: 65%;
      font-size: 16px;
      padding: 10px;
    }
    & > button {
      background-color: #1976d2;
      border: none;
    }
  }
}
.react-datepicker__input-container {
  margin: 0 auto;
}
.react-datepicker__input-container .w-100 {
  width: 70% !important;
}
//   ============================
.masterdatafield {
  display: flex;
  justify-content: space-between;
  & .masterdatafield-box {
    width: 48%;
  }
}
.react-datepicker__input-container .w-100 {
  width: 100% !important;
}
button {
  background-color: #1976d2;
  border: none;
  border-radius: 4px;
}
.masterdataBtn {
  display: flex;
  width: 100%;
}
