<!-- Loading -->
<ptg-ui-loading [loading]="loading"></ptg-ui-loading>
<!-- Forgot wrapper Start -->
<div class="forgot-wrapper container-fluid p-0 d-flex justify-content-center align-items-center">
    <div class="forgot-container" [hidden]="isHideDiv">
        <div class="forgot-form-wrapper">
            <div class="form-group">
            </div>
            <div class="form-group">
                <div class="text-center mb-3">
                    <h3 [innerHTML]="resources.FORGOT_PASSWORD"></h3>
                </div>
            </div>
            <form class="form-forgot" [formGroup]="forgotForm" (ngSubmit)="onForgotSubmit()">
                <div class="forgot-form">
                    <div class="form-group required mb-4">
                        <label for="inputEmail" [innerHTML]="resources.LABEL_EMAIL"></label>
                        <!-- input -->
                        <ptg-ui-input class="w-100" formControlName='email' id='inputEmail' type="text"
                            className="form-control bg_0" [placeholder]="resources.INPUT_PLACEHOLDER_EMAIL">
                        </ptg-ui-input>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="m-1">
                            <!-- button -->
                            <ptg-ui-button class="" type="submit" btnStyleType="primary"
                                [isDisable]='!forgotForm.valid'>
                                {{resources.SUBMIT}}
                            </ptg-ui-button>
                        </div>
                        <div class="m-1">
                            <!-- placeholder for cancel button -->
                            <ng-content></ng-content>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="forgot-container" [hidden]="!isHideDiv">
        <div class="text-center mb-3">
            <h6>New password has been sent to your email.</h6>
        </div>
        <div class="forgot-form text-center">
            <div class="row justify-content-center align-items-center">
                <div class="col-2">
                    <!-- button -->
                    <ptg-ui-button class="" type="submit" (click)="isClosemodal()" btnStyleType="primary">
                        OK
                    </ptg-ui-button>
                </div>
                <div>
                    <a *ngIf="isShowResendButton" routerLinkActive="active"
                        (click)="resendPassword()">Resend</a>
                    <a *ngIf="!isShowResendButton" class="btn disabled" [class.disabled]="!isShowResendButton">Resend</a>
                    <em>the password in {{timeLeft}} seconds </em>
                </div>
            </div>
        </div>
    </div>
    <!-- Forgot wrapper End -->