<tabset #staticTabs>
  <tab [heading]="'DRAG_DROP_EX_1' | translate">
    <!--  Drag and Drop Example 1 Wrapper -->
    <ptg-ui-dragexample2></ptg-ui-dragexample2>
  </tab>
  <tab [heading]="'DRAG_DROP_EX_2' | translate">
    <!--  Drag and Drop Example 2 Wrapper -->
    <ptg-ui-dragexample3></ptg-ui-dragexample3>
  </tab>
  <tab [heading]="'DRAG_DROP_EX_3' | translate">
    <!--  Drag and Drop Example 3 Wrapper -->
    <ptg-ui-dragexample4></ptg-ui-dragexample4>
  </tab>
  <tab [heading]="'DRAG_DROP_EX_4' | translate">
    <!--  Drag and Drop Example 4 Wrapper -->
    <ptg-ui-dragexample1></ptg-ui-dragexample1>
  </tab>
  <tab [heading]="'DRAG_DROP_EX_5' | translate">
    <!--  Drag and Drop Example 5 Wrapper -->
    <ptg-ui-dragexample5></ptg-ui-dragexample5>
  </tab>
</tabset>
