@import '../../styles/variables';

.droppable {
  background: #EEF2F6;
  border: 2px solid #9dafc1;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
  margin-right: 60%;
}

.tree-view ul li {
  list-style: none;
}
.example-one-list {
  padding: 20px;
  width: 250px;
  margin-bottom: 10px;
  border: 3px solid $main;
}
.todos {
  border-radius: 5px;
  display: flex;
  margin-left: 15px;
  flex-direction: column;
  width: 48%;
  padding: 10px;
  background-color:#EEF2F6;
  border: 2px solid #9dafc1;
}

.todos__single {
  display: flex;
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
  transition: 0.2s;
  border: 1px solid;
}

.todos__single:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
}

.drag-icon {
  margin-left: 10px;
  font-size: 0.938rem;
  cursor: pointer;
}

.todos__single--text {
  flex: 1;
  padding: 5px;
}
.exampleTwoDroppable {
  border: 2px solid #9dafc1;
  padding-left: 13px;
  margin-left: 5px;
  // margin : 5px 5px 5px 5px;
  border-radius: 5px;
  // min-width: 280px;
  width: 18rem;
  min-height: 322px;
}
.exampleTwoDraggable {
  padding: 10px;
  // border-bottom: 2px solid #9dafc1;
  border: 2px solid #9dafc1;
  margin-top: 4px;
  border-radius: 10px;
  width: 16rem;
}
.example-one-list-view {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


// Responsive styles
// For screens below 1122px
@media only screen and (max-width: 450px) {
 
  .main-wrapper {
    width: 100% !important;
  }
  .forMobileView-2 {
    width: 50%;
  }
  .forMobileView {
    width: 50% !important;
  }
  .todos {
    width: 78%;
  }
  .exampleThree {
    width: 270px !important;
  }
  .draganddropmain {
    width: 25rem;
    font-size: 0.75rem;
  }
  .todoHeading {
    font-size: 0.93rem;
  }
  .droppable {
    margin-right: 40%;
  }
  .example-one-list {
    padding: 15px;
    width: 250px;
    margin-bottom: 10px;
    border: 2px solid $main;
  }
}


@media (min-width : 300px) and (max-width: 400px){
  .exampleTwoDroppable {
    width: 4rem;
    margin-left: 1rem;
    font-size: 10px;
    min-height: 345px;
  }

  .todoHeading {
    margin-left: 1.8rem;
  }

  .exampleTwoDraggable {
    width: 3rem;
    font-size: 7px;
    margin-left: -0.5rem;
  }

  .example-one-list{
    width: 92%;
  }

  .exampleThree {
    width: 89% !important;
  }
  }
@media (min-width : 400px) and (max-width: 500px){
  .exampleTwoDroppable {
    width: 7rem;
    margin-left: 5px;
    min-height: 285px;
  }

  .exampleTwoDraggable {
    width: 6rem;
    font-size: 9px;
    margin-left: -0.5rem;
  }
  .todoHeading {
    margin-left: 1rem;
    font-size: 16px;
  }

  .example-one-list{
    width: 80%;
  }
}



@media (min-width : 500px) and (max-width: 700px){
  .exampleTwoDroppable {
    width: 9rem;
    min-height: 293px;
  }
  .exampleTwoDraggable {
    width: 8rem;
    font-size: 11px;
    margin-left: -0.4rem;
  }
  .todoHeading {
    margin-left: 1rem;
    font-size: 18px;
  }
}

@media (min-width : 700px) and (max-width: 800px){
  .exampleTwoDroppable {
    width: 12.5rem;
    min-height: 295px;
  }
  .exampleTwoDraggable {
    width: 11rem;
    margin-left: -0.2rem;
    font-size: 13px;
  }
  .todoHeading {
    margin-left: 1rem;
    font-size: 20px;
  }
}

@media (min-width : 800px) and (max-width: 900px){
  .exampleTwoDroppable {
    width: 15rem;
  }
  .exampleTwoDraggable {
    width: 13rem;
    margin-left: 0.1rem;
  }
}