<ptg-ui-loading [loading]="loading"></ptg-ui-loading>
<div class="content-wrapper">
  <div class="form-group">
    <ptg-ui-alert
      *ngIf="errorMessage"
      [type]="'danger'"
      [message]="errorMessage"
      [isDismissible]="true"
      (closeAlert)="closeAlert($event)"
    >
    </ptg-ui-alert>
    <ptg-ui-alert
      *ngIf="successMessage"
      [type]="'success'"
      [message]="successMessage"
      [isDismissible]="true"
      (closeAlert)="closeAlert($event)"
    >
    </ptg-ui-alert>
  </div>
  <div class="row gx-0">
    <div class="pdf pdf-boundary col-10">
      <mat-sidenav-container class="example-container">
        <mat-sidenav
          class="overview"
          #sidenav
          mode="over"
          [(opened)]="opened"
          (opened)="events.push('open!')"
          (closed)="events.push('close!')"
          >Select Page
          <div *ngFor="let page of pages; let i = index">
            <pdf-viewer
              class="pdf-thumbnail m-1"
              [ngClass]="{ 'page-box-selected': pageVariable === i + 1 }"
              [original-size]="false"
              [render-text]="true"
              [src]="url"
              [show-all]="false"
              [zoom-scale]="'page-fit'"
              [page]="[i + 1]"
              (click)="loadPage(i)"
            >
            </pdf-viewer>
            <div class="d-flex justify-content-center">
              <span>{{ i + 1 }}</span>
            </div>
          </div>
        </mat-sidenav>
        <mat-sidenav-content class="d-flex justify-content-center">
          <button class="overview-btn btn" (click)="sidenav.toggle()">
            Overview
          </button>
          <div class="boundary" [ngStyle]="{ width: pageWidth }">
            <div
              *ngIf="signatureImg"
              class="signature-div drag-box"
              cdkDragBoundary=".boundary"
              (cdkDragEnded)="dragEnded($event)"
              cdkDrag
              [cdkDragDisabled]="!isSignDraggable"
              [hidden]="!isSignDraggable"
              id="signature-drag"
            >
              <div
                class="drag-wrapper d-flex align-items-center justify-content-center"
                id="wrapper-sign-div"
              >
                <div class="wrapper-div">
                  <a class="m-1 drag-wrapper-icon" id="faclone-sign">
                    <fa-icon
                      class="fa-xs"
                      [icon]="faClone"
                      (click)="
                        placeSignature(
                          signaturePlacedModal,
                          'embedsignatureImg'
                        )
                      "
                    ></fa-icon>
                  </a>
                  <a class="m-1 drag-wrapper-icon" id="faxmark-sign">
                    <fa-icon
                      class="fa-xs"
                      [icon]="faXmark"
                      (click)="removeEmbedSign()"
                    ></fa-icon>
                  </a>
                </div>
                <img
                  class="signature-image m-1"
                  id="signature-image"
                  [src]="signatureImg"
                  (click)="showOuterBorder('signature')"
                  (mouseenter)="showInnerBorder('signature')"
                  (mouseleave)="hideInnerBorder('signature')"
                />
              </div>
            </div>
            <div
              *ngIf="inputValue"
              class="signature-div drag-box"
              cdkDragBoundary=".boundary"
              (cdkDragEnded)="dragEndedForText($event)"
              cdkDrag
              id="text-drag"
            >
              <div
                class="drag-wrapper"
                id="wrapper-text-div"
                (click)="showOuterBorder('text')"
              >
                <div class="wrapper-div">
                  <a class="m-1 drag-wrapper-icon" id="faclone-text">
                    <fa-icon
                      class="fa-xs"
                      [icon]="faClone"
                      (click)="placeText(signaturePlacedModal)"
                    ></fa-icon>
                  </a>
                  <a class="m-1 drag-wrapper-icon" id="faxmark-text">
                    <fa-icon
                      class="fa-xs"
                      [icon]="faXmark"
                      (click)="removeEmbedText()"
                    ></fa-icon>
                  </a>
                </div>
                <div
                  id="dragText"
                  (mouseenter)="showInnerBorder('text')"
                  (mouseleave)="hideInnerBorder('text')"
                >
                  {{ inputText }}
                </div>
              </div>
            </div>
            <div
              *ngIf="profileImage"
              class="signature-div drag-box"
              cdkDragBoundary=".boundary"
              (cdkDragEnded)="dragEndedForImage($event)"
              cdkDrag
              [cdkDragDisabled]="!isImageDraggable"
              [hidden]="!isImageDraggable"
              id="image-drag"
            >
              <div
                class="drag-wrapper d-flex align-items-center justify-content-center"
                id="wrapper-image-div"
                (click)="showOuterBorder('image')"
              >
                <div class="wrapper-div">
                  <a class="m-1 drag-wrapper-icon" id="faclone-image">
                    <fa-icon
                      class="fa-xs"
                      [icon]="faClone"
                      (click)="
                        placeSignature(
                          signaturePlacedModal,
                          'embedprofileImage'
                        )
                      "
                    ></fa-icon>
                  </a>
                  <a class="m-1 drag-wrapper-icon" id="faxmark-image">
                    <fa-icon
                      class="fa-xs"
                      [icon]="faXmark"
                      (click)="removeEmbedImage()"
                    ></fa-icon>
                  </a>
                </div>
                <img
                  class="signature-image m-1"
                  id="upload-image"
                  [src]="profileImage"
                  (mouseenter)="showInnerBorder('image')"
                  (mouseleave)="hideInnerBorder('image')"
                />
              </div>
            </div>
          </div>
          <pdf-viewer
            class="pdf-viewer"
            [original-size]="false"
            [render-text]="true"
            [src]="url"
            [show-all]="false"
            [zoom-scale]="'page-fit'"
            [(page)]="pageVariable"
            (page-rendered)="pageRendered($event)"
            (click)="hideOuterBorder()"
          ></pdf-viewer>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
    <!--- side bar starts -->
    <div class="edit-sidebar col-2 p-1">
      <div class="mt-3">
        <div class="mb-3">
          <h4 class="text-center main-heading">Edit PDF options</h4>
        </div>
        <div class="mt-2">
          <div class="m-2">
            <ptg-ui-add-signature
              [signaturePlacedChild]="signaturePlaced"
              (signImg)="getSignatureImg($event)"
              (profileImg)="getProfileImage($event)"
            >
            </ptg-ui-add-signature>
          </div>
          <div class="m-2">
            <ptg-ui-add-text
              (textValue)="getTextValue($event)"
              (placeText)="placeText(signaturePlacedModal)"
            >
            </ptg-ui-add-text>
          </div>
        </div>
      </div>
      <ptg-ui-modify-pdf-pages
        [pages]="pages"
        (callAddPageEvent)="addPage()"
        (callMergePdfEvent)="mergePdf()"
        [firstDonorBytes]="pdfBytes"
        [fileDataId]="fileDataId"
        [fileDataName]="fileDataName"
      ></ptg-ui-modify-pdf-pages>
      <div class="m-2">
        <!-- save document button -->
        <button
          class="right-sidebar-btn btn"
          id="saveDocBtn"
          (click)="exportFinalDocument()"
        >
          <fa-icon [icon]="faFloppyDisk"></fa-icon>&nbsp;Save Document
        </button>
      </div>
      <div class="m-2" *ngIf="signaturePlaced || textPlaced || imagePlaced">
        <!-- discard changes button -->
        <button
          class="right-sidebar-btn btn"
          id=""
          (click)="openDiscardAllChangesDialog(discardAllChangesDialog)"
        >
          <fa-icon [icon]="faTrashCan"></fa-icon>&nbsp;Discard changes
        </button>
      </div>
    </div>
    <!-- sidebar ends -->
  </div>
  <!-- Signature Placed Modal modal  -->
  <ng-template #signaturePlacedModal class="">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Place to</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="closeSignPlacedModal()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div>
      <p class="px-3">
        This PDF has {{ pages?.length }} pages. Select pages to add signature.
      </p>
      <!--radio buttons -->
      <div class="modal-body">
        <div
          (click)="onradioSelect(item)"
          class="form-check mx-1"
          *ngFor="let item of items; index as i"
        >
          <input
            class="form-check-input"
            type="radio"
            name="name"
            [id]="item.id"
            [checked]="item.default"
            [attr.aria-label]="item.name"
            #radio
            (blur)="onBlur()"
          />
          <label
            class="form-check-label custom-control-label"
            [for]="item.id"
            tabindex="0"
            [attr.aria-label]="'page'"
          >
            {{ item.name }}
          </label>
        </div>
        <div *ngIf="selectPageInput">
          <form [formGroup]="selectPageInputForm">
            <p class="select-input-information m-0 mx-1">
              (Please Enter Number between 1 to {{ pages.length }})
            </p>
            <input
              class="m-2"
              type="number"
              id="selectpageInput"
              placeholder="page no."
              formControlName="selectPage"
              [value]="
                selectPageInputForm.get('selectPage')?.value
                  | customvalidation: pages.length
              "
            />
          </form>
        </div>
        <div *ngIf="selectCustomInput">
          <form [formGroup]="selectCustomInputForm">
            <p class="select-input-information m-0 mx-1">
              (Please Enter Number between 1 to {{ pages.length }})
            </p>
            <input
              class="m-2"
              type="number"
              placeholder="from"
              formControlName="selectedCustomPageFrom"
              (keyup)="selectCustomInputValidation('from')"
              [value]="
                selectCustomInputForm.get('selectedCustomPageFrom')?.value
                  | customvalidation: pages.length - 1
              "
            />
            <input
              class="m-2"
              type="number"
              placeholder="to"
              formControlName="selectedCustomPageTo"
              (keyup)="selectCustomInputValidation('to')"
              [value]="
                selectCustomInputForm.get('selectedCustomPageTo')?.value
                  | customvalidation: pages.length
              "
            />
            <div class="text-danger">
              <small *ngIf="bothSelectValueSame"
                >'to' and 'from' can't be same!</small
              >
              <small *ngIf="fromGreaterThenTo"
                >'to' should be greter than 'from'!</small
              >
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <!-- clear button -->
        <ptg-ui-button
          class="btn"
          btnStyleType="primary"
          [isBlock]="false"
          (click)="closeSignPlacedModal()"
          >Clear
        </ptg-ui-button>
        <!--apply button -->
        <ptg-ui-button
          [isDisable]="
            (selectPageInput && !selectPageInputForm.valid) ||
            (selectCustomInput && !selectCustomInputForm.valid) ||
            (selectCustomInput && !selectCustomValid)
          "
          class="btn"
          btnStyleType="primary"
          [isBlock]="false"
          (click)="isSignature ? appendSignature() : appendText()"
        >
          Apply
        </ptg-ui-button>
      </div>
    </div>
  </ng-template>
  <!-- discard all changes dialog modal -->
  <ng-template #discardAllChangesDialog>
    <div class="modal-body p-3 text-center">
      <p class="text-danger">
        <b>Are you sure you want to discard all changes?</b>
      </p>
      <!-- button -->
      <div class="d-flex justify-content-center">
        <!-- button -->
        <ptg-ui-button
          (click)="discardAllChanges()"
          class="text-danger m-1 w-25"
          [isBlock]="true"
          btnStyleType="secondary"
          >Discard</ptg-ui-button
        >
        <ptg-ui-button
          (click)="modalRef?.hide()"
          class="m-1 w-25"
          [isBlock]="true"
          btnStyleType="primary"
        >
          No
        </ptg-ui-button>
      </div>
    </div>
  </ng-template>
</div>
