.ag-theme-alpine .ag-ltr .ag-cell, .ag-theme-alpine .ag-ltr .ag-cell:focus 
{
    border: none !important;
}

.grid-container { height: 500px;}


@media (min-width : 300px) and (max-width: 900px){
    .react-table-component{
      overflow-x: auto;
    }
}
