.parent-block {
  position: relative;
  background: white;

}
.wrapper-grid{
 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.0rem 1.0rem;
}
@media only screen and (max-width: 600px) {
.wrapper-grid{

  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

}
