<div class="wrapper">
    <section>
        <div class="container-fluid">
            <div class="form-wrapper">
                <form class="form-login" [formGroup]="calendarForm" (ngSubmit)="onFormSubmit($event)">
                    <div class="row mb-5">
                        <div class="col-12">
                            <div class="row mb-3">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-3">
                                    <label [innerHTML]="resources.MIN_DATE"></label>
                                    <ptg-ui-calendar [minDate]="minDate" class="w-100" [id]="'startDate3'"
                                        formControlName='startDate' (calendarValueChange)="onStartDateChange($event)">
                                    </ptg-ui-calendar>
                                </div>
                                <!-- <div class="col-2"></div> -->
                                <div
                                    class="col-lg-6 col-md-6 col-sm-12 col-xs-12 offset-lg-2 offset-md-2 offset-sm-0 offset-xs-0">
                                    <label>
                                        <b [innerHTML]="resources.START_DATE_VALIDATOR"></b>
                                    </label>
                                    <div class="row mb-3">
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                            <ptg-ui-calendar (calendarValueChange)="onDateChange($event)"
                                                formControlName='calendar2Value' [disabled]="isDisabled" [id]="'endDate3'">
                                            </ptg-ui-calendar>
                                            <p class="text-danger"
                                                *ngIf="f['calendar2Value'].invalid && f['calendar2Value'].touched"
                                                [innerHTML]="resources.DATE_ERROR_TEXT">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>