<section class="position-relative">
  <aside
    aria-label="Icon Sidebar"
    class="ng-icon-sidebar ng-icon-sidebar--{{ opened ? 'opened' : 'closed' }}"
    role="complementary"
  >
    <div class="">
      <ul>
        <li>
          <a
            title="Upload Document"
            routerLink="/dashboard/upload-document"
            routerLinkActive="active"
          >
            <span class="icon-container">
              <fa-icon class="mx-2 p-0 fa-xl" [icon]="faCloudArrowUp"></fa-icon>
            </span>
            <span *ngIf="isOpen">Upload Document</span></a
          >
        </li>
        <li>
          <a
            title="Saved Documents"
            routerLink="/dashboard/saved-documents"
            routerLinkActive="active"
          >
            <span class="icon-container">
              <fa-icon class="mx-2 p-0 fa-xl" [icon]="faFloppyDisk"></fa-icon>
            </span>
            <span *ngIf="isOpen">Saved Document</span></a
          >
        </li>
      </ul>
      <div class="bottom-wrapper left-icon" *ngIf="isOpen && loadLeftIcon">
        <a class="icon-container m-0" (click)="toggleSidenav()">
          <fa-icon class="p-0 fa-xl" [icon]="faArrowLeft"></fa-icon>
        </a>
      </div>
      <div class="bottom-wrapper" *ngIf="!isOpen">
        <a class="icon-container m-0" (click)="toggleSidenav()">
          <fa-icon class="p-0 fa-xl" [icon]="faArrowRight"></fa-icon>
        </a>
      </div>
    </div>
  </aside>
</section>
