<div class="buttons container">
    <h3 class="title-align">Buttons</h3>
    <div class="rowList">
      <ptg-button text="Primary" appearance="primary"></ptg-button>
      <ptg-button text="Success" appearance="success" ></ptg-button>
      <ptg-button text="Secondary" appearance="secondary"></ptg-button>
      <ptg-button text="Danger" appearance="danger"></ptg-button>
      <ptg-button text="Warning" appearance="warning"></ptg-button>
      <ptg-button text="Info" appearance="info"></ptg-button>
      <ptg-button text="Light" appearance="light"></ptg-button>
      <ptg-button text="Dark" appearance="dark"></ptg-button>
    </div>
  </div>