@media (min-width: 361px) and (max-width: 768px) {
    .margin-top-15{
        margin-top:15px;
    }
  }

.syntax-highlighter{
    background-color: white !important;
}

.copy-to-clipboard{
    cursor: pointer;
}

.show-code-icon{
    background-color: rgb(222, 227, 227);
    border-radius: 50%;
    cursor: pointer;
}