@media (min-width: 361px) and (max-width: 768px) {
    .margin-top-15{
        margin-top:5%;
    }
  }
.example-heading{
    margin-left: 1.5%;
}

.end-date{
    margin-left: 16.5%;
}

.calender-component{
    margin-left: 8%;
}




.end-date{
    margin-left: 10%;
}

@media (min-width : 300px) and (max-width: 500px){
    .end-date{
       margin-left: 0.3%;
    }
    .cal-heading {
        margin-top: 1rem;
    }
 }

@media (min-width : 300px) and (max-width: 350px){
    .covert-timezone{
       font-size: 15px;
    }
 }



@media (min-width : 500px) and (max-width: 768px){
    .end-date{
       margin-left: 0.3%;
    }
    .cal-heading {
        margin-top: 1rem;
    }
}

.single-select-field{
    .singleChip{
        font-size: 16px;
    }
    .singleSelect {
        height: 36px !important;
        border-radius: 5px !important;
    }
}

// .multi-select{
//     margin-left: 4.7rem;
// }