<div class="wrapper">
    <section>
        <div class="row">
            <div class="col-12 mb-3">
                <h4 [innerHTML]="'CALENDAR_EXAMPLE_1' | translate"></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ptg-ui-calendarexample1></ptg-ui-calendarexample1>
            </div>
        </div>
    </section>
    <hr/>
    <section>
        <div class="row">
            <div class="col-12 mb-3">
                <h4 [innerHTML]="'CALENDAR_EXAMPLE_2' | translate"></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ptg-ui-calendarexample2></ptg-ui-calendarexample2>
            </div>
        </div>
    </section>
    <hr/>
    <section>
        <div class="row">
            <div class="col-12 mb-3">
                <h4 [innerHTML]="'CALENDAR_EXAMPLE_3' | translate"></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ptg-ui-calendarexample3></ptg-ui-calendarexample3>
            </div>
        </div>
    </section>
    <hr/>
    <section>
        <div class="row">
            <div class="col-12 mb-3">
                <h4 [innerHTML]="'CALENDAR_EXAMPLE_4' | translate"></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ptg-ui-calendarexample4></ptg-ui-calendarexample4>
            </div>
        </div>
    </section>
</div>