@import '../../styles/variables';
// @import '../../styles/fonts';

.viewMastertable {
  position: relative;

  & > .hydrated {
    visibility: inherit;
    position: absolute;
    left: 16px;
    top: 13px;
    z-index: 1;
  }
}
.viewMastertable table > tr > th {
  background-color: none !important;
}
.ptg-table-addData {
  box-shadow: none;
}

.icon-color {
  color: $main;
}

.viewMastertable table {
  th:nth-of-type(1) {
    background-color: #f2f2f2;
  }
}
.viewMastertable h6 {
  display: none !important;
  font-weight: 600;
  padding: 5px 30px 5px 59px;
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: inherit;
  position: absolute;
  left: 16px;
  top: 13px;
  z-index: 1;
  .form-check {
    margin-left: 20px;
    label {
      color: #000 !important;
    }
  }
  .btnColor {
    color: #fff;
  }
}
