@import '../../styles/variables';
.viewMastertable {
  position: relative;

  & > .hydrated {
    visibility: inherit;
    position: absolute;
    left: 16px;
    top: 13px;
    z-index: 1;
  }
}
.viewMastertable table > tr > th {
  background-color: none !important;
}
.ptg-table-addData {
  box-shadow: none;
}
.table-action-button {
  // width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  color: #dc3545;
}

.icon-color {
  color: $main;
}

.viewMastertable table{
  th:nth-of-type(1) {
    background-color: #b9bc90 ;
  }
}  
.viewMastertable h6 {
  display: block !important;
  font-weight: 600;
  /* width: 59%; */
  padding: 5px 30px 5px 59px;
}
       
