<!-- Loading -->
<ptg-ui-loading [loading]="loading"></ptg-ui-loading>
<!-- Forgot wrapper Start -->
<div class="forgot-wrapper container-fluid p-0 d-flex justify-content-center align-items-center">
    <div class="forgot-container">
        <div class="forgot-form-wrapper">
            <div class="form-group">
                <!-- alert -->
                <!-- <ptg-ui-alert *ngIf="errorMessage" [type]="'danger'" [message]="errorMessage" [isDismissible]='true'
                    (closeAlert)="closeAlert($event)">
                </ptg-ui-alert> -->
            </div>
            <div class="form-group">
                <div class="text-center mb-3">
                    <h3 [innerHTML]="resources.FORGOT_PASSWORD"></h3>
                </div>
            </div>
            <form class="form-forgot" [formGroup]="forgotForm" (ngSubmit)="onForgotSubmit()">
                <div class="forgot-form">
                    <div class="form-group required mb-4">
                        <label for="inputEmail" [innerHTML]="resources.LABEL_EMAIL"></label>
                        <!-- input -->
                        <ptg-ui-input class="w-100" formControlName='email' id='inputEmail' type="text"
                            className="form-control bg_0" [placeholder]="resources.INPUT_PLACEHOLDER_EMAIL">
                        </ptg-ui-input>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <!-- button -->
                            <ptg-ui-button class="" type="submit" btnStyleType="primary"
                                [isDisable]='!forgotForm.valid'>
                                {{resources.FORGOT_PASSWORD}}
                            </ptg-ui-button>
                        </div>
                        <div class="col-4">
                            <!-- placeholder for cancel button -->
                            <ng-content></ng-content>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Forgot wrapper End -->