<div class="checkbox container">
    <h3 class="title-align">Checkbox</h3>
    <div class="row">
      <ptg-checkbox
        color="priamry"
        label="Kivi"
        callback={getCheckboxValue}
        checked="true"
        datavalue="Kivi"
        dataid="chedckobx-1"
        
      ></ptg-checkbox>
      <ptg-checkbox
        color="priamry"
        label="Mango"
        callback={getCheckboxValue}
        checked={false}
        datavalue="Mango"
        dataid="chedckobx-2"
      ></ptg-checkbox>
      <ptg-checkbox
        color="priamry"
        label="Apple"
        checked={false}
        datavalue="Apple"
        callback={getCheckboxValue}
        dataid="chedckobx-1"
      ></ptg-checkbox>
    </div>
  </div>