@import 'variables';

.cdk-drag-placeholder {
  display: none;
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 3px 3px -2px $box-shadow-h, 0 8px 10px 1px $box-shadow-v, 0 3px 14px 2px $box-shadow-blur;
  background: $whiteColor;
  opacity: 0.3;
}

.drop-inside {
  border: 1px solid $main;
}

.drop-before {
  border-top: 1px solid $main;
}

.drop-after {
  border-bottom: 1px solid $main;
}

.node-title {
  width: 300px !important;
  padding: 15px !important;
  margin: 5px;
  background: $whiteColor;
  cursor: grab;
  border: 1px solid $second;
  border-radius: 10px;
}

.node-children {
  position: relative;
  transition: height 0.2s;
  margin-left: 40px;
}
.item-notes {
  margin-left: 20px;
}
@media screen and (max-width: 520px) and (min-width: 320px) {
  .node-title {
    width: 85% !important;
    padding: 10px !important;
    margin: 5px;
    background: $whiteColor;
    cursor: grab;
    border: 1px solid $second;
    border-radius: 10px;
}
}