<section>
  <div class="container ptg-treeview-container">
    <div class="row">
      <div class="col-12 parent-block" *ngIf="checkBoxData?.children.length">
        <h4 [innerHTML]="'INTERMEDIATE_CHECKBOX_TEXT' | translate"></h4>
        <ptg-ui-toggle-code
          [htmlCode]="treeViewHtmlCode"
          [tsCode]="treeViewTsCode"
        >
        </ptg-ui-toggle-code>
        <ptg-ui-indeterminate-checkboxes
          [checkBoxList]="checkBoxData"
          (onCheckboxValueChanges)="onChanges($event)"
        ></ptg-ui-indeterminate-checkboxes>
      </div>
    </div>
  </div>
</section>
