.ptg-treeview-container ::ng-deep .form-inline.row-item {
  display: flex;
}

.parent-block {
  position: relative;
}


::ng-deep .form-check-input:checked {
    background-color: unset !important;
    border-color: #002144;
}