@import "variables";
$width-45: 49vw;
$width-25: 25vw;
$width-0: 0vw;

.sidenav-container {
  width: 18vw;
  background-color: #f5f6f8;
  height: 100%;
  position: relative;

  .sidenav {
    width: 100%;
    height: 100%;
    overflow: auto;

    .menu-item {
      padding: 4px 8px;
      margin: 2px 0;
      text-decoration: none;
      font-size: .80rem;
      display: flex;
      align-items: center;
      transition: 0.3s;
      cursor: pointer;
      width: 95%;

      &.parent-item,
      &.disabled {
        cursor: pointer;
        color: #6f90b8 !important;
      }

      i {
        color: $side-menu-text-color;
        width: auto;
        height: auto;
        padding-right: 1rem !important;
      }

      &.child-item {
  
        padding-left: 3rem;
        color: $side-menu-text-color;
        font-size: 12px; //---
      }

      .menu-item-text {
        display: inline-block;
        margin-left: 15px;
        
        color: $side-menu-text-color;
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 959.98px) {
  .sidenav-container {
    width: $width-45;
    position: absolute;
    z-index: 1000;
    overflow: hidden;
    transition: width .1s linear .1s;

    .sidenav {
      width: $width-45;

      .menu-item {
        font-size: .94rem;
        padding: 4px 8px;
        margin: 3px 0;
      }
    }
  }

  .width-0 {
    width: $width-0;
  }
}

@media (min-width: 600px) and (max-width: 959.98px) {
  .sidenav-container {
    width: $width-25;
    position: relative;

    .sidenav {
      width: $width-25;

      .menu-item {
        padding: 6px 8px;
        margin: 4px 0;
      }
    }
  }

  .width-0 {
    width: $width-0;
  }
}


@media (min-width: 1500px) and (max-width: 1749.98px) {
  .sidenav-container {
    width: 18vw;
    position: relative;

    .sidenav {
      width: 100%
    }
  }
}

@media (min-width: 1750px) {
  .sidenav-container {
    width: 12vw;
    position: relative;

    .sidenav {
      width: 100%
    }
  }
}