@import '../../styles/variables';

.syntax-highlighter{
    background-color: $syntax-highlighter-bg-color !important;
    border : $syntax-highlighter-bg-color !important;
}

.copy-to-clipboard{
    cursor: pointer;
    color: $copy-icon-color !important;
    position: absolute;
    margin-left: 93%;
    margin-top: 4%;
   
}

.copy-code-with-highlighter{
    position: relative;
}


