.syntax-highlighter{
    background-color: rgb(2,43,55) !important;
    border : rgb(2,43,55) !important;
}

.copy-to-clipboard{
    cursor: pointer;
    color: rgb(236, 231, 231) !important;
    position: absolute;
    margin-left: 93%;
    margin-top: 4%;
   
}

.copy-code-with-highlighter{
    position: relative;
}


