.card-section{
    margin-right: 25%;
}

.card-section-two{
    width: 99.7%;
}

.charts-card{
    width: 99%;
    margin-left: 0.5%;
}

.horizontal-line{
    margin-left: 12px;
    max-width : 97.6%;
    border-color: #737374;
}


@media (min-width : 300px) and (max-width: 365px){
    .horizontal-line{
        width : 89%;
    }
    }

@media (min-width : 365px) and (max-width: 400px){
    .horizontal-line{
        width : 92%;
    }
    }

@media (min-width : 400px) and (max-width: 500px){
    .horizontal-line{
        width : 93%;
    }
    }

@media (min-width : 500px) and (max-width: 700px){
    .horizontal-line{
        width : 93%;
    }
    }

@media (min-width : 700px) and (max-width: 900px){
    .horizontal-line{
        width : 94%;
    }
    }

