.active-tabs {
    .nav-link.active {
      border-color: $layout-background-color $layout-background-color $main $layout-background-color !important;
      border-bottom: 3px solid $main !important;
      background-color: $layout-background-color!important;
    }
  }

  .active-tabs-copy-code {
    .nav-link.active {
      border-color: $white $white $main $white !important;
      border-bottom: 3px solid $main !important;
      background-color: $white !important;
    }
  }