<ptg-ui-loading [loading]="loading"></ptg-ui-loading>
<div class="content-wrapper">
    <div class="title">
        <h4 class="main-heading text-center mb-4">User Details</h4>
    </div>

    <!-- reset password section starts -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="form-group">
                            <ptg-ui-alert *ngIf="errorMessage" [type]="'danger'" [message]="errorMessage"
                                [isDismissible]="true" (closeAlert)="closeAlert($event)">
                            </ptg-ui-alert>
                            <ptg-ui-alert *ngIf="successMessage" [type]="'success'" [message]="successMessage"
                                [isDismissible]="true" (closeAlert)="closeAlert($event)">
                            </ptg-ui-alert>
                        </div>
                        <div class="login-form">
                            <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmit()">
                                <div class="form-group required mb-2">
                                    <label for="inputUsername" [innerHTML]="resources?.FULL_Name"></label>
                                    <!-- input -->
                                    <ptg-ui-input class="w-100" formControlName="name" id="inputUsername"
                                        type="text" className="form-control bg_0"
                                        [placeholder]="resources?.FULL_NAME_PLACEHOLDER" [isReadOnly]="isReadOnly">
                                    </ptg-ui-input>
                                </div>
                                <!--  -->

                                <div class="form-group required mb-2">
                                    <label for="inputEmail" [innerHTML]="resources?.LABEL_EMAIL"></label>
                                    <!-- input -->
                                    <ptg-ui-input class="w-100" formControlName="email" id="inputEmail" type="text"
                                        className="form-control bg_0" [placeholder]="resources?.INPUT_PLACEHOLDER_EMAIL"
                                        [isReadOnly]="emailDiabled">
                                    </ptg-ui-input>
                                </div>
                                <div class="form-group required mb-2">
                                    <label for="inputDOB" [innerHTML]="resources?.DOB"></label>
                                    <!-- calendar -->
                                    <ptg-ui-calendar class="w-100" id="inputDob" formControlName="dob"  [isReadOnly]="isReadOnly">
                                    </ptg-ui-calendar>
                                </div>
                                <div class="form-group required mb-2">
                                    <label for="inputGender" [innerHTML]="resources?.CITY"></label>
                                    <!-- select -->
                                    <!-- <ptg-ui-select formControlName="city" class="w-100" [id]="'inputGender'"
                                        [items]="cityList" [isMultiple]="false" [closeOnSelect]="true"
                                        [placeholder]="resources?.SELECT_TEXT" [isDisabled]="isReadOnly">
                                    </ptg-ui-select> -->
                                    <ptg-ui-input class="w-100" formControlName="city" id="inputCityName"
                                        type="text" className="form-control bg_0"
                                        [placeholder]="resources?.CITY" [isReadOnly]="isReadOnly">
                                    </ptg-ui-input>
                                </div>
                                <div class="form-group required mb-2">
                                    <label for="inputGender" [innerHTML]="resources?.GENDER"></label>
                                    <!-- radio -->
                                    <ptg-ui-radio formControlName="gender" [items]="genderList" [id]="'customRadio'"
                                        [name]="'gender-radio-btn'" [isdisabled]="isReadOnly">
                                    </ptg-ui-radio>
                                </div>
                                <ptg-ui-button *ngIf="!isEditview" type="button" btnStyleType="primary" (click)="changeView()">
                                    Edit Details
                                </ptg-ui-button>
                                <ng-container *ngIf="isEditview" class="text-center">
                                    <ptg-ui-button type="submit" btnStyleType="primary me-2"
                                         [isDisable]="!userDetailsForm.valid">
                                        Save Details
                                    </ptg-ui-button>
                                    <ptg-ui-button type="button" btnStyleType="primary" (click)="cancelToUpdatedetails()">
                                        Cancel
                                    </ptg-ui-button>
                                </ng-container>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>