@import '../../../styles/variables';
.searchWrapper {
  border: none;
}

.navbar {
  background: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);

  & > div {
    display: flex;
    align-items: center;
    // .app-name {
    //   color: $white;
    //   color: $black;
    //   font-weight: 700;
    //   font-size: 20px;
    // }
  }

  & a {
    padding: 0px 7px;
    color: $black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    &:hover {
      border-bottom: 4px solid $main;
    }

    &:last-child {
      padding-right: 0;
    }

    & > img {
      width: 92px;
    }
  }
}

nav {
  height: 100%;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  box-shadow: 0px 0px 6px 7px rgba(128, 128, 128, 0.1) !important;
  z-index: 100 !important;

  .logo {
    a {
      font-size: 18px;
      font-weight: bold;
    }

    img {
      height: 38px;
    }
  }
}
