::ng-deep .ag-theme-alpine {
  //font color
  --ag-foreground-color: #35677d;
  text-align: center !important;

  .ag-row {
    .btn {
      img {
        filter: invert(36%) sepia(23%) saturate(929%) hue-rotate(153deg) brightness(92%) contrast(89%);
      }
    }
  }

}

//to align header text
::ng-deep .ag-header-cell-label {
  justify-content: center !important;
}

// on hover
::ng-deep .ag-theme-alpine .ag-row-hover {
  --ag-foreground-color: #fff;
  background-color: #88B4BA;

  .btn {
    img {
      filter: invert(94%) sepia(94%) saturate(23%) hue-rotate(61deg) brightness(106%) contrast(107%);
    }
  }
}