<ptg-ui-loading [loading]="loading"></ptg-ui-loading>
<div class="content-wrapper">
  <div class="title">
    <h4 class="main-heading text-center mb-4">Saved Files</h4>
  </div>
  <ptg-ui-alert *ngIf="errorMessage" [type]="'danger'" [message]="errorMessage" [isDismissible]="true"
    (closeAlert)="closeAlert($event)">
  </ptg-ui-alert>
  <ptg-ui-alert *ngIf="successMessage" [type]="'success'" [message]="successMessage" [isDismissible]="true"
    (closeAlert)="closeAlert($event)">
  </ptg-ui-alert>
  <!-- Ag grid table section starts -->
  <div class="container">
    <div class="d-flex justify-content-end mb-2">
      <!-- input -->
      <ptg-ui-input type="text" [id]="'SearchBox'" placeholder="Search..." (input)="onFilterTextBoxChanged()">
      </ptg-ui-input>
    </div>
    <ag-grid-angular style="width: 100%; height: 400px" class="ag-theme-alpine" [defaultColDef]="defaultColDef"
      [rowData]="rowData" [columnDefs]="columnDefs" [frameworkComponents]="frameworkComponents"
      (gridReady)="onGridReady($event)" [cacheQuickFilter]="true">
    </ag-grid-angular>
  </div>
</div>