
@media (min-width : 320px) and (max-width: 345px){
    .carousel-component {
        margin-left: -2.1rem;
    }
    .hide-indicators-heading{
        font-size: 12px;
    }
}

@media (min-width : 345px) and (max-width: 370px){
    .carousel-component {
       margin-left: -1rem;
    }
    .hide-indicators-heading{
        font-size: 12px;
    }
}

.carousel-component{
    max-width: 700px;
    margin-inline: auto;
}