<div class="d-flex justify-content-center">
  <ul class="list-group list-group-horizontal">
    <li class="list-unstyled mx-1">
      <fa-icon
        class="mx-2 p-0 fa-xl"
        (click)="zoomOut()"
        [icon]="faSearchMinus"
      ></fa-icon>
    </li>
    <li class="list-unstyled mx-1">
      <fa-icon
        class="mx-2 p-0 fa-xl"
        (click)="zoomIn()"
        [icon]="faSearchPlus"
      ></fa-icon>
    </li>
  </ul>
</div>
<div class="cropper-wrp my-2">
  <image-cropper
    [imageChangedEvent]="imageToCrop"
    [maintainAspectRatio]="true"
    [containWithinAspectRatio]="containWithinAspectRatio"
    [aspectRatio]="ratio"
    [resizeToWidth]="256"
    [cropperMinWidth]="128"
    [onlyScaleDown]="true"
    [roundCropper]="false"
    [canvasRotation]="canvasRotation"
    [transform]="transform"
    [alignImage]="'center'"
    [style.display]="showCropper ? null : 'none'"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady($event)"
    (loadImageFailed)="loadImageFailed()"
    [hideResizeSquares]="false"
  ></image-cropper>
</div>
<div class="d-flex justify-content-center">
  <ul class="list-group list-group-horizontal">
    <li class="list-unstyled mx-1">
      <fa-icon
        class="mx-2 p-0 fa-xl"
        (click)="toggleContainWithinAspectRatio()"
        [icon]="faSquare"
      ></fa-icon>
    </li>
    <li class="list-unstyled mx-1">
      <fa-icon
        class="mx-2 p-0 fa-xl"
        (click)="resetImage()"
        [icon]="faRefresh"
      ></fa-icon>
    </li>
    <li class="list-unstyled mx-1">
      <fa-icon
        class="mx-2 p-0 fa-xl"
        (click)="cropTheImage()"
        [icon]="faCheck"
      ></fa-icon>
    </li>
  </ul>
</div>
