<section class="accordion pt-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h4 class="mb-3" [innerHTML]="'ACCORDIAN_EXAMPLE' | translate"></h4>
        <ptg-ui-toggle-code
          [htmlCode]="htmlCode"
          [tsCode]="tsCode"
        ></ptg-ui-toggle-code>
        <ptg-accordion [label]="label" [description]="description" [width]="width" [color]="color">
          <div slot="body-block">
            <h2>React Slot for Body</h2>
          </div>
        </ptg-accordion>
      </div>
    </div>
  </div>
</section>
