<section class="accordion pt-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="row mb-3">
        <h4 [innerHTML]="'ACCORDION_EXAMPLE' | translate"></h4>
        <ptg-ui-toggle-code
          [htmlCode]="htmlCode"
          [tsCode]="tsCode"
        ></ptg-ui-toggle-code></div>
        <ptg-accordion [label]="label" [description]="description" [width]="width" [color]="color" [defaultOpened]="defaultOpened">
          <div slot="body-block">
            <h2>Angular Slot for Body</h2>
          </div>
        </ptg-accordion>
      </div>
    </div>
  </div>
</section>
