@import '../../styles/variables';
.user-wrapper {
  .profile-icon {
    background: $main;
    border-radius: 50%;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
  }
  .user-container {
    position: absolute;
    position: absolute;
    right: 13px;
  }
  .triangle-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid rgba(var(--bs-info-rgb), var(--bs-bg-opacity)) !important;
    margin-left: 87%;
  }
  .user-info {
    width: 100px;
    padding: 10px;
    background: #e2e9f1;
    text-align: left;
    color: #002144;
    border-top: 1px solid rgb(111 144 184 / 0.4);
    width: 173px;
  }
}
