<div class="content-wrapper">
  <div class="row justify-content-center gy-2 ">
    <div class="col-3 p-0 m-1 " *ngFor="let item of features">
      <mat-card class="border card-shadow">
        <mat-card-subtitle>
          <fa-icon class="mx-3 d-block my-auto fa-xl feature-icons" [icon]="item.icon"></fa-icon>
        </mat-card-subtitle>
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-content>
          {{item.description}}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <button class="upload-and-proceed btn btn-primary rounded-pill" btnStyleType="primary" (click)="navigateToUpload()">
      Upload file to Proceed
    </button>
  </div>
</div>