<div [title]="isCollapsed ? 'Hide Code' : 'View Code'" class="icon-block">
  <i class="fa-solid fa-code fa-lg" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic"></i>
</div>
<div id="collapseBasic" [collapse]="!isCollapsed">
  <tabset>
    <tab heading="HTML">
      <i [cdkCopyToClipboard]="htmlCode" title="Copy HTML" placement="bottom" class="copy-icon fa-regular fa-copy fa-lg"></i>
      <pre><code ptgUiHighlight>
        {{ htmlCode }}
      </code></pre>
    </tab>
    <tab heading="TypeScript">
      <i [cdkCopyToClipboard]="tsCode" title="Copy TS" class="copy-icon fa-regular fa-copy fa-lg"></i>
      <pre><code ptgUiHighlight>
        {{ tsCode }}
      </code></pre>
    </tab>
  </tabset>
</div>
