<div [title]="isCollapsed ? 'Hide Code' : 'View Code'" class="icon-block">
  <i
    class="fa-solid fa-code fa-lg"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseBasic"
  ></i>
</div>
<div id="collapseBasic" [collapse]="!isCollapsed">
  <tabset>
    <tab heading="HTML" *ngIf="htmlCode">
      <i
        [cdkCopyToClipboard]="htmlCode"
        title="Copy HTML"
        placement="bottom"
        class="copy-icon fa-regular fa-copy fa-lg"
      ></i>
      <pre><code ptgUiHighlight>
        {{ htmlCode }}
      </code></pre>
    </tab>
    <tab heading="TypeScript" *ngIf="tsCode">
      <i
        [cdkCopyToClipboard]="tsCode"
        title="Copy TS"
        class="copy-icon fa-regular fa-copy fa-lg"
      ></i>
      <pre><code ptgUiHighlight>
        {{ tsCode }}
      </code></pre>
    </tab>
    <tab heading="CSS" *ngIf="cssCode">
      <i
        [cdkCopyToClipboard]="cssCode"
        title="Copy CSS"
        class="copy-icon fa-regular fa-copy fa-lg"
      ></i>
      <pre><code ptgUiHighlight>
        {{ cssCode }}
      </code></pre>
    </tab>
  </tabset>
</div>
