@import "variables";
.wrapper{
    width: 100vw;
    height: 100vh;
    .main{
        height: 82vh;
        .main-wrapper{
            width: 100%;
            background-color: $mainbgcolor;
            margin:21px 15px 12px 21px;
            padding: 17px;
            border-radius: 9px;
            overflow: auto;
            padding: 10px 10px;
            .main-conatiner{
                display: block;
                width: 100%;
            }
        }
    }
}