.breadcrumbs-component{
    margin-left: 0.9rem;
}

@media (min-width : 300px) and (max-width: 350px){
    .breadcrumbs-component {
       font-size: 10px;
    }
}

@media (min-width : 350px) and (max-width: 400px){
    .breadcrumbs-component {
       font-size: 12px;
    }
}

@media (min-width : 400px) and (max-width: 500px){
    .breadcrumbs-component {
        font-size: 14px;
    }
}
