<div class="m-2">
  <!-- Add page document button -->
  <button class="right-sidebar-btn btn" id="saveDocBtn" (click)="openAddPageModal(addPageModal, 'addPage')">
    <fa-icon [icon]="faFileCirclePlus"></fa-icon>&nbsp;Add Page
  </button>
</div>
<div class="m-2">
  <!-- Merge pdf document button -->
  <button class="right-sidebar-btn btn" id="saveDocBtn" (click)="openAddPageModal(addPageModal, 'mergePdf')">
    <fa-icon [icon]="faObjectGroup"></fa-icon>&nbsp;Merge pdf
  </button>
</div>
<ng-template #addPageModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ showAddPage ? 'Information' : 'Merge Pdf' }}
    </h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModifyPdfPageModal()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="showAddPage">
      <label>Please note: New Page will be added at the end of the document.
      </label>
      <div *ngIf="showAddPageCustom">
        <form [formGroup]="selectAddPageInputForm">
          <p class="select-input-information m-0 mx-1">
            (Please Enter Number between 1 to {{ pages.length }})
          </p>
          <input class="m-2" type="number" id="selectpageInput" placeholder="page no." formControlName="selectPage"
            [value]="
              selectAddPageInputForm.get('selectPage')?.value
                | customvalidation: pages.length
            " />
        </form>
      </div>
    </div>
    <div *ngIf="showMergePdf">
      <p class="d-flex justify-content-center">
        Please upload one more pdf file to Merge
      </p>
      <form [formGroup]="uploadSecondPdfForm" (ngSubmit)="uploadFileToMerge()">
        <div class="upload-section">
          <input class="file-input" type="file" accept="application/pdf" (change)="fileChangeEvent($event)" />
          <div>
            <img class="uploadFile" src="assets/upload-file.png" alt="upload" />
          </div>
          <div>
            <h3 class="m-3">Browse and upload</h3>
          </div>
          <div>
            <label class="m-1 align-middle file-details" for="fileSupport">File support&nbsp;<b>pdf</b></label>
          </div>
          <div>
            <label class="m-1 align-middle file-details" for="maxFileSize">Max file size&nbsp;<b>20MB</b></label>
          </div>
          <div>
            <label class="m-1 filalign-middle e-details" *ngIf="fileName" for="fileDiscription">Uploaded
              file&nbsp;:&nbsp;<b>{{ fileName }}</b></label>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="showDownload">
      <div>
        <p class="d-flex justify-content-center w-100">Pdf has been merged. Select one option to continue.</p>
      </div>
      <div class="d-flex justify-content-center text-centre">
        <a download class="btn btn-primary m-1 w-25" rel="noopener noreferrer" target="_blank" (click)="onDownload()">
          Download
        </a>
        <a download class="btn btn-primary m-1 w-25" rel="noopener noreferrer" target="_blank" (click)="onSave()">
          Save
        </a>
      </div>
    </div>
  </div>
  <!-- modal footer -->
  <div class="">
    <div *ngIf="showAddPage" class="modal-footer d-flex justify-content-center">
      <ptg-ui-button class="m-1 w-25" [isBlock]="true" btnStyleType="secondary" (click)="closeModifyPdfPageModal()">
        Cancel</ptg-ui-button>
      <ptg-ui-button class="m-1 w-25" [isBlock]="true" btnStyleType="primary" (click)="callAddPageEvent.emit($event)">
        Add
      </ptg-ui-button>
    </div>
    <div *ngIf="showMergePdf" class="modal-footer d-flex justify-content-center">
      <ptg-ui-button class="m-1 w-25" [isBlock]="true" btnStyleType="secondary"
        (click)="closeModifyPdfPageModal()">Cancel</ptg-ui-button>
      <ptg-ui-button [isDisable]="!uplodedMergedFile" class="m-1 w-25" [isBlock]="true" btnStyleType="primary"
        (click)="uploadFileToMerge()">
        Merge
      </ptg-ui-button>
    </div>
  </div>
</ng-template>