<div class="bg-white rounded">
   <h3 class="p-3" [innerHTML]="'PIPES' | translate"></h3>
   <hr class="css-yasiti" />
<tabset #staticTabs class="tabClass">
    <tab [heading]="'TAB_PIPE_HEADING' | translate" id="1" alt="pipe" title="pipe">
       <!--  pipe Example 1 Wrapper -->
       <ptg-ui-pipeexamples1></ptg-ui-pipeexamples1>
    </tab>
    <tab [heading]="'TAB_DIRECTIVE_HEADING' | translate" id="2" alt="directive" title="directive">
       <!--  pipe Example 2 Wrapper -->
       <ptg-ui-pipeexamples2></ptg-ui-pipeexamples2>
    </tab>
    <tab [heading]="'TAB_EVENT_HEADING' | translate" id="3" alt="event" title="event">
       <!--  pipe Example 3 Wrapper -->
       <ptg-ui-pipeexamples3></ptg-ui-pipeexamples3>
    </tab>
  </tabset>
  </div>
 