<div class="row pt-2">
  <div class="col-12 mb-4 parent-block container-fluid">
    <h4 class="mb-3" [innerHTML]="'TOOLTIP_EXAMPLE' | translate"></h4>
    <ptg-ui-toggle-code
      [htmlCode]="htmlCode"
      [tsCode]="tsCode"
    ></ptg-ui-toggle-code>

    <ptg-tooltip
      text="A Tooltip To The Top"
      tooltip-text="Top Tooltip"
      tooltip-alignment="top"
      background-color="#000"
    >
    </ptg-tooltip>

    <hr />
    <ptg-tooltip
      text="A Tooltip To The Bottom"
      tooltip-text="Bottom Tooltip"
      tooltip-alignment="bottom"
      background-color="#000"
    >
    </ptg-tooltip>
    <hr />
    <ptg-tooltip
      text="A Tooltip To The Left"
      tooltip-text="Left Tooltip"
      tooltip-alignment="left"
      background-color="#000"
    >
    </ptg-tooltip>
    <hr />
    <ptg-tooltip
      text="A Tooltip To The Right"
      tooltip-text="Right Tooltip"
      tooltip-alignment="right"
      background-color="#000"
    >
    </ptg-tooltip>
  </div>
</div>
