@import "variables";

.signup-wrapper{
  .signup-container{
    width: 100%;
    .signup-form-wrapper{
      background: $whiteColor;
      padding: 3% 5%;
      width: 100%;
      .access-wrapper{
        li{margin: 3% 0;}
        ol{
          li{
            margin: 0 0 5px;
          }
        }
      }

    }  
  }
  
}

@media (max-width: 599.98px) {
  .login-form{
    width: 100% !important;
  }
}

.legend-tag {
    float: none;
    margin-bottom: 0.5rem;
    font-size: 1.0rem;
    line-height: inherit;
}


ol, ul {
  padding-left: 0rem !important;
}


