.layout {
  padding: 30px 70px;
  background-image: url(/assets/images/elegant-white-background-with-blue-wave-lines@2x.png);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .yashlogo {
    // margin-top: 30px;
    width: 107px;
    height: 64px;
    opacity: 1;
    background: transparent;
  }
  .heading {
    margin-top: 50px;
    height: 42px;
    text-align: left;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -1.05px;
    color: #2e2e2e;
    opacity: 1;
    background: transparent;
  }
  .content {
    margin-top: 24px;
    height: 49px;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.18px;
    color: #505050;
    opacity: 1;
    background: transparent;
  }
  .card-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a {
      text-decoration: none;
      color: #8b8989;
    }
    .item-card {
      position: relative;
      width: 278px;
      height: 278px;
      // background: repeating-conic-gradient(
      //   from var(--a),
      //   #ff2770 0%,
      //   #ff2770 5%,
      //   transparent 5%,
      //   transparent 40%,
      //   #ff2770 50%
      // );
      animation: animate 4s linear infinite;
      border-radius: 20px;
      border: 3px solid #f1f1f1;

      margin-top: 25px;
      margin-right: 20px;

      background: transparent;
      padding: 10px;
      transition: 0.2s;
      img {
        width: 100%;
        height: 75%;
        background: transparent;
        cursor: pointer;
        border-radius: 5px;
        opacity: 1;
        display: inline-flex;
      }
      p {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-top: 20px;
      }
    }
    // .item-card::before {
    //   content: '';
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   background: repeating-conic-gradient(
    //     from var(--a),
    //     #45f3ff 0%,
    //     #45f3ff 5%,
    //     transparent 5%,
    //     transparent 40%,
    //     #45f3ff 50%
    //   );
    //   animation: animate 4s linear infinite;
    //   animation-delay: -1s;
    //   border-radius: 20px;
    // }
    // .item-card::after {
    //   content: '';
    //   position: absolute;
    //   inset: 8px;
    //   background: #ffffff;
    //   border-radius: 15px;
    // border: 8px solid #25252b;
    // }
    .item-card:hover {
      transform: scale(1.01);
      -webkit-box-shadow: 0px 0px 15px 2px rgba(158, 158, 158, 1);
      -moz-box-shadow: 0px 0px 15px 2px rgba(158, 158, 158, 1);
      box-shadow: 0px 0px 15px 2px rgba(158, 158, 158, 1);
    }
  }
}

// @property --a {
//   syntax: '<angle>';
//   inherits: false;
//   initial-value: 0deg;
// }

// @keyframes animate {
//   0% {
//     --a: 0deg;
//   }
//   100% {
//     --a: 360deg;
//   }
// }
