@import 'variables';

.drag-box-wrapper{
  border: 1px solid $second;
  border-radius: 10px;
        color: $main;
      min-height: 100px;
      .icon-btn {
        height: 30px;
        width: 30px;
    }
    .drag-box{
      width: 75%;
    }
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 3px 3px -2px $box-shadow-h,0 8px 10px 1px $box-shadow-v, 0 3px 14px 2px $box-shadow-blur;
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  @media (max-width: 599.98px){
    .drag-box{
      width: 100% !important;
    }
  }