<header> 
    <!--Sidebar -->
    <nav
         id="sidebarMenu"
         class="collapse d-lg-block sidebar collapse bg-white"
         >
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <!-- Brand -->
        <a class="header-logo">
            <h2>LOGO</h2></a>
          <a routerLink="button" class="vertical-menu">Buttons </a>
          <a routerLink="model" class="vertical-menu">Modal </a>
          <a routerLink="accordian" class="vertical-menu">Accordion</a>
          <a routerLink="alert" class="vertical-menu">Alert</a>
          <a routerLink="toast" class="vertical-menu">Toast</a>
          <a routerLink="calender" class="vertical-menu">Calender</a>
          <a routerLink="checkbox" class="vertical-menu">Checkbox</a>
          <a routerLink="table" class="vertical-menu">Table</a>
          <a routerLink="inter-check" class="vertical-menu">Intermediate Checkbox </a>
          <a routerLink="input" class="vertical-menu">Input</a>
          <a routerLink="loading" class="vertical-menu">Loading</a>
          <a routerLink="select" class="vertical-menu">Select/Multiselect</a>
          <a routerLink="radio" class="vertical-menu">Radio</a>
          <a routerLink="textarea" class="vertical-menu">Textarea</a>
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
   
  </header>
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 58px">
    <div class="container pt-4">
  
    </div>

  </main>
  
  
  
  