<div class="navbar-wrapper">
  <header class="">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">
        <img class="logoImg" src="../../../assets/doc-logo.png" alt="logout" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li>
            <div class="btn-group user-dropdown" dropdown>
              <a id="button-basic" dropdownToggle type="button" class="user-circle"
                aria-controls="dropdown-basic">{{userName}}
            </a>
              <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li role="menuitem"><a class="dropdown-item" routerLink="/dashboard/user/profile">Profile</a></li>
                <li role="menuitem"><a class="dropdown-item" routerLink="/dashboard/saved-documents">Saved Docs</a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</div>